body {
	background: #fofofo;
	margin: 0;
	padding: 0;
	font: 10px normal Verdana, Arial, Helvetica, sans-serif;
	color: #444;
}

#footer1 {
	width: 100%;
	height: 20px;
	background: url("../images/Views/footer.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

a {
	color: #0099CC;
	text-decoration: none;
}

a:hover {
	color: #00CCFF;
}

a img {
	border: none; /*remove border for linked images*/
}

h1 {
	font-size: 3em;
	margin: 20px 0;
}

h2 {
	font-size: 1em;
	height: 20px;
	padding-top: 0;
}

.highlight {
	background-color: #FF9D9D;
	border-bottom: #F30 1px solid;
	border-top: #F30 1px solid;
	padding: 4px 10px
}

.container {
	width: 100%;
	height: 70%;
	margin: 5px auto;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}

ul.tabs li {
	float: left;
	width: 248px;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: grey;
	overflow: hidden;
	position: relative;
}

ul.tabs li a {
	text-decoration: none;
	color: brown;
	display: block;
	font-size: 2.8em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}

ul.tabs li a:hover {
	background: #ccc;
}

html ul.tabs li.active,html ul.tabs li.active a:hover {
	background: #fff;
	border-bottom: 1px solid #fff;
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	height: 550px;
	background: light grey;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.tab_content {
	padding: 20px;
	font-size: 1.3em;
	color: #373C40;
}

.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.2em;
}

.tab_content h2 p {
	color: brown;
}

.tab_content h3 a {
	color: #254588;
}

.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	padding: 5px;
}

#header {
	width: 100%;
	height: 220px;
	background: url("../images/Views/header3.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

#ulearn {
	color: white;
	font-size: 30px;
	font-align: right;
}

#image {
	background-image: url("../images/Views/imagesf.jpg");
	/*../images/Views/open-edu-content.jpg*/
	width: 100%;
	height: 670px; //
	opacity: 0.20; repeat; //
	background-repeat: repeat-y; //
	z-index: 1000; //
	border: 1px solid red;
}

#functionpanel {
	width: 20%;
	height: 70%;
	float: left;
	position: absolute;
}

#admincontent {
	top: 400px;
	float: right;
	padding: 10px;
	width: 70%;
}

.arrowgreen {
	width: 125%; /*width of menu*/
	border-style: solid;
	border-color: #94AA74;
	border-size: 1px;
	border-width: 2px;
}

.arrowgreen ul {
	border-color: #94AA74;
	border-size: 1px;
	border-width: 2px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.arrowgreen li a {
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	display: block;
	background: transparent url(media/arrowgreen.gif) 100% 0;
	height: 24px;
	/*Set to height of bg image- padding within link (ie: 32px - 4px - 4px)*/
	padding: 4px 0 4px 10px;
	line-height: 24px;
	/*Set line-height of bg image- padding within link (ie: 32px - 4px - 4px)*/
	text-decoration: none;
}

.arrowgreen li a:link,.arrowgreen li a:visited {
	color: #5E7830;
}

.arrowgreen li a:hover {
	color: #26370A;
	background-position: 100% -32px;
}

.arrowgreen li a.selected {
	color: #26370A;
	background-position: 100% -64px;
}