/*   
 *************************** Creation Log *******************************
  File Name                   -  MainView
  Description                 -  tab Slide css 
  Version                     -  1.0
  Created by                  -  Kawaljeet Singh
  Created on                  -  March 01, 2013
    */

#tab1
{
	background-color:#E5DEAF;
}
#homeheading{
  font-size: 2.5em;
  font-family: Georgia;
  letter-spacing: 0.1em;
  color: rgb(142,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}
.meta{
  font-family: Georgia;
  color: rgba(69,54,37,0.6);
  font-size: 1em;
  font-style: italic;
  letter-spacing: 0.25em;
  border-bottom: 1px solid rgba(69,54,37,0.2);
  padding-bottom: 0.5em;
}
.meta span{
  text-transform: capitalize;
  font-style: normal;
  color: rgba(69,54,37,0.8);
}
#homecontent p{
  font-family: Verdana;
  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  column-count: 2;
  column-gap: 1em;
  line-height: 1.5em;
  color: rgb(69,54,37);
}
#homecontent p:first-child{
  font-size: 1.25em;
  font-family: Georgia;
  font-style: italic;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  letter-spacing: 0.1em;
}
#homecontent p:first-child:first-line{
  font-weight: bold;
}
body {
	background: #fofofo;
	margin: 0;
	padd	ing: 0;
	font: 10px normal Verdana, Arial, Helvetica, sans-serif;
	color: #444;
}

#footer1 {
	width: 100%;
	height: 20px;
	background: url("../images/img/footer.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

h1 {
	font-size: 3em;
	margin: 20px 0;
}

.container {
	width: 100%;
	height: 70%;
	float:left;
	
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	
	
	width: 100%;
}

ul.tabs li {
	float: left;
	width: 249px;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	
	margin-bottom: -1px;

	overflow: hidden;
	position: relative;
}




#mail
{
background: url("../images/Views/formbg.png");
}




ul.tabs li a {
	text-decoration: none;
	color: black;
	display: block;
	font: 2.8em verdana;
	padding: 0 20px;
	
	outline: none;
}

ul.tabs li a:hover {
	background: #ccc;
}

html ul.tabs li.active,html ul.tabs li.active a:hover {
	background: #fff;
	border-bottom: 1px solid #fff;
}

.tab_container {
	
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	height: 750px;
	background: light grey;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

#tab1 img {
	float: left;
}
#mailform {
	float:right;
  background-color : #ffc;
 border : 1px solid #000;
  padding : 5px;
	width:500px;
} 
input,textarea
{ background-color : #c00;
  color : #fff;
 

}
input.submit {
  background-color : #c00;
  color : #ccc;
  font : bold 14px/14px verdana, geneva, helvetica;
  border : 2px solid #ccc;
}

.tab_content {
	padding: 20px;
	font-size: 1.3em;
	color: #696969;
}

.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.2em;
}

.tab_content h2 p {
	color: brown;
}

.tab_content h3 a {
	color: #254588;
}

.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	padding: 5px;
}

#header {
	width: 100%;
	height: 210px;
	background: url("../images/Views/laptopheader.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

#header2 {
	background: url("../images/Views/navbar_bg.png");
	height: 15px; //
	border: 1px solid red;
}



#langdiv #lang { //
	padding: 3px;
	float: right;
	margin: 30px;
}

#ulearn {
	color: white;
	font-size: 30px;
	font-align: right;
}

#image {
	background-color:#E5DEAF;
	/*background-image: url("../images/Views/imagesf.jpg");*/
	/*../images/Views/open-edu-content.jpg*/
	width: 100%;
	height: 900px; //
	opacity: 0.20; repeat; //
	background-repeat: repeat-y; //
	z-index: 1000; //
	border: 1px solid red;
}
}
